body{
    text-align: center;
    font-family: cursive;
    font-size: 3em;
    color: brown;
    background: black
}

#contenedor{
    border: 3px solid gray;
    padding: 1px;
    border-radius: 30%
}

#contenedor h1{
    color: green;
}
