body{
    text-align: center;
    font-family: monospace;
    color: wheat;
    background:url(joker.png)no-repeat center;
    background-size: 200%;
    padding: 0%;
}

#cabecera{
    position:absolute;
    top:70%;
    left:25%;
    box-shadow: 5px 4px 10px #666;
    background: blueviolet;
    border-radius: 20%;
    height: 14%;
    width: 54%;
    padding: 0%
    

}

#blog{
    margin: 2%;
    padding: 0%;
    font-size: 400%;
    color: aqua;
    text-align: left;
    font-family: cursive;
}

#subtitulo{
    font-family: sans-serif;
    padding: 0%;
    margin: 2%;
    font-size: 40%;
    color: whitesmoke;

}

#contenedor{
    width: 70%;
    border: 3px solid gray; 
}

#contenedor h2{
    font-size: 2em; 
    font-family: georgia;
    color: green;
}

img{
    width: 6%;
}